<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>How It Works</title><meta content="width=device-width, initial-scale=1" name="viewport"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='how.css')}}"/>
</head>
<body>
  <div class='bg-image'></div>
  <a href="{{ url_for('sessions') }}" class="index">Home</a>
  <a href="{{ url_for('timel')}}" class="timel">TimeLine</a>
<h1 class="heading"> How it works </h1>
<span class="text-block">1.Enter the Paragraph in text box and click submit.<br/>
2.After clicking submit, you can see the chat screen.<br/>
3.In the bottom Text box type a question and click on send.<br/>
4.After you will get your answer.<br/>
5.To access your paragraph again, copy the hash shown and go to ask-a-a-quesbot.co/passage/{enter your hash here}<br/> 
</span>
  <p><span class="footer">Created by Sanyog, Dhruti and Monish</span></p>
  <a href="mailto:contact@ask-a-quesbot.co"><span class="contact">contact@ask-a-quesbot.co</span></a>
</body>
</html>

