<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Timeline</title><meta content="width=device-width, initial-scale=1" name="viewport"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='timel.css')}}"/>
</head>
<body>
<a href="{{ url_for('sessions') }}" class="index">Home</a>
<a href="{{ url_for('how') }}" class="how">How it work</a>
</span>
  <p><span class="footer">Created by Sanyog, Dhruti and Monish</span></p>
  <a href="mailto:contact@ask-a-quesbot.co"><span class="contact">contact@ask-a-quesbot.co</span></a>
<iframe allowfullscreen src='https://timelines.gitkraken.com/timeline/c3bd8dfbec35465f887800b507f14741?showControlPanel=true&showMinimap=true&allowPresentationMode=true&range=2020-09-02_2021-06-23&size=1' style='width:100%;height:100%;border:none;' />
</body>
</html>
